<!DOCTYPE html>
<html lang="en" style='height: 100%'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../login/utils/redirectToLogin.ejs') %>
    <%- include('../bootstrap/bootstrap.ejs') %>
    <%- include('../JS/Fetch/fetchToken/refreshTokenPartials.ejs') %>
    <script>
        const searchUser=()=>{
            const usernameSearch = document.querySelector('#searchInput').value;
            window.location.href = '/search/'+usernameSearch;
        }
    </script>
    <link rel="stylesheet" href="/public/message/css/message.css">
    <title>Messages</title>
</head>
<body style='height: 100%'>
    <%- include('../navbar/navbar.ejs')%>
    <div class='grid-20-20 WidthHeight-100 lightBlackContrast-bg remove-padding-margin'>
        <div class="FriendList lightBlackContrast-bg text-light seperatingBorder-top" style="height:100%">
            <div id="friendContainer">
                <% for(let index = 0;index<renderOBJ.convoKeys.length;index++){ %>
                    <a href='/messages/<%=renderOBJ.convoKeys[index]%>'>
                        <div>
                            <img class="rounded-circle" src="/public/message/sampleImage/profilePic.png" alt="userpic" width="32px" height="32px">
                            <%= renderOBJ.convoList[renderOBJ.convoKeys[index]] %>
                        </div>
                    </a>
                <%}%>
            </div>
            <div id="searchContainer">
                <div>
                    <input type="text" id='searchInput' class='textBox form-control' autocomplete="off" name='username' placeholder="Search user">
                    <button class='btn btn-success btn-md' onclick="searchUser()">Search</button>
                </div>
            </div>
        </div>
        <template id='MSGTemplate'>
            <div class="MessageWrapper">
                <div class='MessageUserID'>
                    <img class="rounded-circle" src="/public/message/sampleImage/profilePic.png" alt="userpic" width="32px" height="32px">
                    <h6 class="TextUserName">username</h6>
                </div>
                <p class="MessageValue">textValue</p>
            </div>
        </template>
        <% if(renderOBJ.convoExist && renderOBJ.convoAttempt ){ %>
            <div class="MessageBox lightBlack-bg seperatingBorder-top">
                <% if(renderOBJ.conversation){ %>
                    <%for(let index=0;index<renderOBJ.conversation.length;index++){%>
                        <%for(key in renderOBJ.conversation[index]){%>
                            <div class="MessageWrapper">
                                <div class='MessageUserID'>
                                    <img class='rounded-circle' src="/public/message/sampleImage/profilePic.png" alt="userpic" width="32px" height="32px">
                                    <h6 class="TextUserName"><%= key %></h6>
                                </div>
                                <p class="MessageValue"><%= renderOBJ.conversation[index][key] %></p>
                            </div>
                        <%}%>
                    <%}%>
                <%}%>
            </div>
            <div class="inputBox">
                <form id='messageForm'>
                    <input type="text" id="sendMSGBox"class='textBox form-control' autocomplete="off" name='message' placeholder="Message">
                </form>
            </div>
        <%}else if(!renderOBJ.convoAttempt){%>
            <div class="MessageBox lightBlack-bg seperatingBorder-top">
                <div><h1>Welcome back, your started conversations are on the left of your screen!</h1></div>
            </div>
        <%}else{%>
            <div class="MessageBox lightBlack-bg seperatingBorder-top">
                <div><h1>wrong url?</h1></div>
                <hr/>
                <div><h1>You don't have any conversation with this url linked with your account!</h1></div>
                <hr/>
                <div><h1>404, CONVERSATION NOT FOUND.</h1></div>
            </div>
        <%}%>
    </div>
    <% if(renderOBJ.convoExist){ %>
        <script src='/socket.io/socket.io.js'></script>
        <script src='/public/JS/socketio/socket.js'></script>
    <%}%>
</body>
</html>