<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../bootstrap/bootstrap.ejs') %>
    <%- include('../JS/Fetch/fetchToken/refreshTokenPartials.ejs') %>
    <link rel="stylesheet" href="/public/search/css/search.css">
    <title>Search Result</title>
</head>
<body>
    <%- include('../navbar/navbar.ejs') %>
    <div class='Wrapper lightBlack-bg'>
        <div class="container lightBlackContrast-bg text-center">
            <div><h1 class="page-header text-primary">Search Result</h1></div>
            <hr/>
            <div class='row'>
                <div class="col-sm-9">
                    <h1 class='text-danger Username'><%= renderOBJ.user.username %></h1>
                    <p class="HalfWidth mx-auto Description">
                        <% if(renderOBJ.user.desc){%>
                            <%= renderOBJ.user.desc %>
                        <%}else{%>
                            <%= renderOBJ.user.username %> is a mysterious one and has not added a description to his profile yet.
                        <%}%>
                    </p>
                </div>
                <div class="row col-sm-3">
                    <img src="/public/search/images/profile.jpg" class="ProfilePic col-sm-12 img-fluid rounded mx-auto" alt="Responsive profile image">
                </div>
            </div>
            <a href=<%= '/request/'+renderOBJ.user.username %>><button class='btn btn-success btn-md'>Send conversation request</button></a>
            <hr/>
            <div class="row">
                <div class="col-sm-12 text-warning text-center">
                    <h2 class="pageHeader">Achievements</h2>
                    <p class="HalfWidth mx-auto Description text-danger">Nothing yet, that's a bummer :^( </p>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>